/*Start Common Variables*/
:root {
    --main-transition-time: 0.5s;
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/*End Common Variables*/

/*Start Common Rules*/
* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}

/*End Common Rules*/

/*Start Animations*/
@keyframes color-fade {
    from {
        background-color: var(--blue-color);
    }

    to {
        background-color: white;
    }
}

@keyframes go-up {

    0%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
    }
}

/*End Animations*/

/*Start Side Bar*/
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}

.sidebar>h3 {
    margin-bottom: 50px;
}

@media (max-width:767px) {
    .sidebar {
        width: 50px;
        padding: 5px;
    }

    .sidebar>h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
}

@media (min-width:768px) {

    .sidebar>h3::before,
    .sidebar>h3::after {
        content: "";
        position: absolute;
        left: 50%;
        background-color: black;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .sidebar>h3::before {
        width: 80px;
        height: 2px;
        bottom: -20px;
    }

    .sidebar>h3::after {
        bottom: -29px;
        width: 12px;
        height: 12px;
        border: 4px solid white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

}

.sidebar ul li a {
    margin-bottom: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}

.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}

/*End Side Bar*/

/*Start header*/
.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    font-size: 14px;
    color: var(--grey-color);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.head .search input {
    margin-left: 5px;
    padding-left: 30px;
    width: 200px;
}

@media (min-width:767px) {
    .head .search input {
        width: 300px;
    }
}

.head .search input:focus::placeholder {
    opacity: 0;
}

.head .icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    right: -5px;
    top: -5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.head .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}

/*End header*/

/*Start Dashboard*/
.page h1 {
    margin: 20px 20px 40px;
}

.page h1::before,
.page h1::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.page h1::before {
    background-color: white;
    width: 120px;
}

.page h1::after {
    background-color: black;
    width: 40px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-right: 20px;
    margin-left: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-right: 10px;
        margin-left: 10px;
        gap: 10px;
    }
}

/*End Dashboard*/

/*Start Welcome Widget*/
.welcome {
    overflow: hidden;
}

.welcome .intro p {
    text-align: center;
}

.welcome .intro img {
    width: 170px;
    margin-bottom: -10px;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 40px;
    margin-top: -32px;
}

.welcome .body>div {
    flex: 1;
}

.welcome .visit {
    margin: 0 15px 15px auto;
}

@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }

    .welcome .avatar {
        margin-left: 0;
    }

    .welcome .body>div:not(:last-child) {
        margin-bottom: 20px;
    }
}

/*End Welcome Widget*/

/*Start Quick Draft*/
.quick-draft textarea {
    resize: none;
    min-height: 200px;
}

.quick-draft .save {
    margin-left: auto;
}

/*End Quick Draft*/

/*Start Yearly Targets*/
.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

@media (max-width:767px) {
    .targets .target-row .icon {
        width: 40px;
        height: 40px;
    }

}

.targets .details {
    flex: 1;
}

.targets .details .progress {
    height: 4px;
}

.targets .details .progress>span {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}

.targets .details .progress>span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    padding: 2px 5px;
    font-size: 12px;
}

.targets .details .progress>span span::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: transparent transparent transparent transparent;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.targets .details .progress .blue span::after {
    border-top-color: var(--blue-color);
}

.targets .details .progress .orange span::after {
    border-top-color: var(--orange-color);
}

.targets .details .progress .green span::after {
    border-top-color: var(--green-color);
}

.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255/ 20%);
}

.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}

.green .icon,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}

/*End Yearly Targets*/

/*start tickets widgets*/
.tickets .box {
    width: calc(50% - 10px);
}

@media (max-width:767px) {
    .tickets .box {
        width: 100%;
    }
}

/*End tickets widgets*/

/*Start Latest News*/
.latest-news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.latest-news .news-row img {
    width: 100px;
    margin-right: 15px;
}

.latest-news .news-row .info {
    flex-grow: 1;
}

@media (max-width:767px) {
    .latest-news .news-row .label {
        margin: 10px auto;
        width: fit-content;
    }
}

/*End Latest News*/

/*Start Latest Tasks*/
.latest-tasks .task-row {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.latest-tasks .task-row .info {
    flex-grow: 1;
}

.latest-tasks .done {
    opacity: 0.3;
}

.latest-tasks .done h3,
.latest-tasks .done p {
    text-decoration: line-through;
}

.latest-tasks .task-row>i {
    cursor: pointer;
}

.latest-tasks .task-row>i:hover {
    color: var(--red-color);
}

/*End Latest Tasks*/

/*Start Latest Uploads*/
.latest-uploads ul li img {
    width: 40px;
    height: 40px;
}

/*End Latest Uploads*/

/*Start Last Project*/
.last-project ul::before {
    content: "";
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}

.last-project ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.last-project ul li.done::before {
    background-color: var(--blue-color);
}

.last-project ul li.current::before {
    animation: color-fade 0.8s infinite alternate;
    -webkit-animation: color-fade 0.8s infinite alternate;
}

.last-project .lanuch-icon {
    position: absolute;
    width: 160px;
    right: 0;
    bottom: 0;
    opacity: 0.4;
}

/*End Last Project*/

/*Start Reminders*/
.reminders ul li>span {
    width: 15px;
    height: 15px;
}

.reminders ul li .blue {
    border-left: 2px solid var(--blue-color);
}

.reminders ul li .green {
    border-left: 2px solid var(--green-color);
}

.reminders ul li .orange {
    border-left: 2px solid var(--orange-color);
}

.reminders ul li .red {
    border-left: 2px solid var(--red-color);
}

/*End Reminders*/

/*Start Last Post*/
.last-post .avatar {
    width: 48px;
    height: 48px
}

.last-post .post-content {
    line-height: 2;
    min-height: 140px;
    text-transform: capitalize;
}

/*End Last Post*/

/*Start Social Media*/
.social-media .box {
    padding-left: 70px;
}

.social-media .box i {
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.social-media .box i:hover {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

.social-media .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1877f2;
}

.social-media .facebook i,
.social-media .facebook a {
    background-color: #1877f2;
}

.social-media .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}

.social-media .linkedin i,
.social-media .linkedin a {
    background-color: #0077b5;
}

.social-media .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}

.social-media .youtube i,
.social-media .youtube a {
    background-color: #ff0000;
}

.social-media .twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}

.social-media .twitter i,
.social-media .twitter a {
    background-color: #1da1f2;
}

/*End Social Media*/

/* Start Projects Table */
.projects .responsive-table {
    overflow-x: auto;
}

.projects table {
    min-width: 1000px;
    border-spacing: 0;
}

.projects thead td {
    background-color: #eee;
    font-weight: bold;
}

.projects table td {
    padding: 15px;
}

.projects tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: var(--main-transition-time);
    -webkit-transition: var(--main-transition-time);
    -moz-transition: var(--main-transition-time);
    -ms-transition: var(--main-transition-time);
    -o-transition: var(--main-transition-time);
}

.projects table tbody tr td:last-child {
    border-right: 1px solid #eee;
}

.projects table img {
    width: 32px;
    height: 32px;
    padding: 2px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.projects table img:not(:first-child) {
    margin-left: -20px;
}

.projects tbody tr:hover td {
    background-color: #faf7f7;
}

/* End Projects Table */


/*Start Toggle box*/
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    cursor: pointer;
    position: relative;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    border-radius: 50%;
    transition: var(--main-transition-time);
    -webkit-transition: var(--main-transition-time);
    -moz-transition: var(--main-transition-time);
    -ms-transition: var(--main-transition-time);
    -o-transition: var(--main-transition-time);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: var(--blue-color);
}

.toggle-checkbox:checked+.toggle-switch::before {
    content: "\f00c";
    left: 50px;
    color: var(--blue-color);
}

/*End toggle box*/

/*Strat Setting page*/

/*Start Site Control*/
.site-control textarea {
    min-height: 170px;
    resize: none;
}

/*End Site Control*/

/*start General info*/
.general-info .email {
    display: inline-flex;
    width: calc(100% - 80px);
    cursor: not-allowed;
    background-color: #f0f4f8;
    color: #bbb;
}

/*End General info*/

/*Start Security info*/
/*End Security info*/

/*Start Social info*/
.social-control .social-box i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border-right: none;
    border-radius: 6px 0 0 6px0;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -ms-border-radius: 6px 0 0 6px;
    -o-border-radius: 6px 0 0 6px;
}

.social-control .social-box input {
    height: 40px;
    background-color: #f6f6f6;
    padding-left: 10px;
    border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    -o-border-radius: 0 6px 6px 0;
}

.social-control .social-box:focus-within i {
    color: #000;
}

/*End Social Info*/

/*Start Widgets Control*/
.widgets-control .control label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}

.widgets-control .control label::before,
.widgets-control .control label::after {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.widgets-control .control input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
}

.widgets-control .control label::before {
    content: "";
    border: 2px solid var(--grey-color);
    width: 14px;
    height: 14px;
}

.widgets-control .control label:hover::before {
    border-color: var(--blue-alt-color);
}

.widgets-control .control label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition-time);
    transform: scale(0) rotate(360deg);
    -webkit-transform: scale(0) rotate(360deg);
    -moz-transform: scale(0) rotate(360deg);
    -ms-transform: scale(0) rotate(360deg);
    -o-transform: scale(0) rotate(360deg);
    -webkit-transition: var(--main-transition-time);
    -moz-transition: var(--main-transition-time);
    -ms-transition: var(--main-transition-time);
    -o-transition: var(--main-transition-time);
}

.widgets-control .control input[type="checkbox"]:checked+label::after {
    transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -o-transform: scale(1) rotate(-360deg);
}

/*End Widgets Control*/

/*Start Backup Manager*/

.backup-control input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
}

.backup-control .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}

.backup-control .date label::before,
.backup-control .date label::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.backup-control .date label::before {
    border: 2px solid var(--grey-color);
    width: 18px;
    height: 18px;
    left: 0;
    top: 50%;
    margin-top: -11px;
}

.backup-control .date label:hover::before {
    border-color: var(--blue-alt-color);
}

.backup-control .date label::after {
    left: 5px;
    top: 5px;
    width: 12px;
    height: 12px;
    background-color: var(--blue-color);
    transition: var(--main-transition-time);
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: var(--main-transition-time);
    -moz-transition: var(--main-transition-time);
    -ms-transition: var(--main-transition-time);
    -o-transition: var(--main-transition-time);
}

.backup-control .date input[type="radio"]:checked+label::before {
    border-color: var(--blue-color);
}

.backup-control .date input[type="radio"]:checked+label::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}


.backup-control .servers {
    border-top: 1px solid #eee;
    padding-top: 20px;
    gap: 10px;
}

@media (max-width:767px) {
    .backup-control .servers {
        flex-direction: column;
    }

    .backup-control .servers .server {
        width: 100%;
    }
}

.backup-control .servers .server {
    border: 2px solid #eee;
    position: relative;
    min-width: calc((100% - 60px)/3);
}

.backup-control .servers .server label {
    cursor: pointer;
}

.backup-control .servers input[type="radio"]:checked+.server {
    border-color: var(--blue-color);
    color: var(--blue-color);
}


/*End Backup Manager*/


/*End Setting Page*/

/*Start Profile Page*/

@media (max-width:767px) {
    .profile-page .overview {
        flex-direction: column;
    }
}

.profile-page .overview .avatar-box {
    width: 300px;
}

@media (min-width:768px) {
    .profile-page .overview .avatar-box {
        border-right: 1px solid #ddd;
    }

}

.profile-page .overview .avatar-box>img {
    width: 120px;
    height: 120px;
}

.profile-page .overview .avatar-box .level {
    height: 6px;
    margin: auto;
    width: 70%;
}

.profile-page .overview .avatar-box .level span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--blue-color);
}

/*Start info box*/
.profile-page .info-box h4 {
    font-weight: normal;
}

.profile-page .info-box .box {
    flex-wrap: wrap;
}

.profile-page .info-box .box:hover {
    background-color: #f9f9f9;
}

.profile-page .info-box .box>div {
    padding: 10px 0 0;
    gap: 10px;
    flex-wrap: wrap;
}

/*Start other Skills*/
@media (max-width:767px) {
    .profile-page .other-data {
        flex-direction: column;
    }
}

.profile-page .skills-card {
    flex-grow: 1;
}

.profile-page .skills-card ul li {
    padding: 15px 0;
}

.profile-page .activities {
    flex-grow: 2;
}

/**********/
.profile-page .activities img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

@media (min-width:768px) {
    .profile-page .activity .date {
        margin-left: auto;
        text-align: right;
    }
}

@media (max-width:767px) {
    .profile-page .activity {
        flex-direction: column;
    }

    .profile-page .activity img {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .profile-page .activity .date {
        margin-top: 15px;
    }

}

/*End Profile Page*/

/*Start Projects Page*/
.project-page .project .date {
    position: absolute;
    right: 10px;
    top: 10px;
}

.project-page .project .team {
    min-height: 60px;
}

.project-page .project .team a {
    position: absolute;
    left: 0;
    bottom: 0;
}

.project-page .project .team a:nth-child(2) {
    left: 25px;
}

.project-page .project .team a:nth-child(3) {
    left: 50px;
}

.project-page .project .team a:nth-child(4) {
    left: 75px;
}

.project-page .project .team a:nth-child(5) {
    left: 100px;
}

.project-page .project .team a:hover {
    z-index: 1;
}

.project-page .project .team img {
    width: 40px;
    height: 40px;
    border: 2px solid white;
}

.project-page .project .tags {
    justify-content: flex-end;
    gap: 10px;
}

@media (max-width:767px) {
    .project-page .project .tags {
        justify-content: center;
    }
}

.project-page .project .prog {
    height: 8px;
    flex-basis: 50%;
    position: relative;
}

.project-page .project .prog span {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}

/*End Projects Page*/

/*Start Courses*/
.courses-page {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.courses-page .course {
    overflow: hidden;
}

.courses-page .course .cover {
    width: 100%;
}

.courses-page .course .instructor {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 20px;
    left: 20px;
    border: 2px solid white;
}

.courses-page .course .description {
    line-height: 1.6;
    text-align: justify;
}

.courses-page .course .info .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    top: -12px;
}

/*End Cources*/

/*Start Friends Page*/
.friends-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.friends-page .contact {
    position: absolute;
    left: 10px;
    top: 10px;
}

.friends-page .contact i {
    color: #666;
    cursor: pointer;
}

.friends-page .contact i:hover {
    color: white;
    background-color: var(--blue-color);
}

.friends-page .icons i:hover {
    color: var(--blue-color);
}

.friends-page .friend .icons .vip {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 40px;
    opacity: 0.2;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.friends-page .friend .icons .vip:hover {
    opacity: 0.7;
}

.friends-page .friend .info>div a:last-of-type:hover {
    background-color: var(--red-color);
}

/*End Friends Page*/

/*Start files page*/
.files-page {
    flex-direction: row-reverse;
    align-items: flex-start;
}

@media (max-width:767px) {
    .files-page {
        flex-direction: column;
        align-items: normal;
    }
}

.files-page .files-stats {
    flex-basis: 20%;
}

.files-page .files-stats .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.files-page .files-stats .size {
    margin-left: auto;
}

.files-page .files-stats .blue {
    background-color: rgb(0 117 255/20%);
}

.files-page .files-stats .green {
    background-color: rgb(34 197 94/20%);
}

.files-page .files-stats .red {
    background-color: rgb(244 67 54/20%);
}

.files-page .files-stats .orange {
    background-color: rgb(245 158 11/20%);
}

.files-page .files-stats .blue {
    background-color: rgb(0 117 255/20%);
}

.files-page .files-stats .upload {
    margin: 15px auto 0;
}

.files-page .files-stats .upload:hover i {
    animation: go-up 0.8s infinite;
    -webkit-animation: go-up 0.8s infinite;
}

.files-page .files-content {
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.files-page .file i:hover {
    color: var(--blue-color);
    cursor: pointer;
}

.files-page .files-content img {
    width: 64px;
    height: 64px;
}

.files-page .files-content .file:hover img {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

/*End Files Page*/

/*Start plans page*/
.plans-page {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

@media (max-width:767px) {
    .plans-page {
        grid-template-columns: minmax(250px, 1fr);
        gap: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

.plans-page .plan .top {
    border: 3px solid white;
    outline: 3px solid var(--blue-color);
}

.plans-page .plan.green .top {
    outline-color: var(--green-color);
}

.plans-page .plan.orange .top {
    outline-color: var(--orange-color);
}

.plans-page .plan .price {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
}

.plans-page .plan .price span {
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 25px;
}

.plans-page .plan ul li {
    padding: 15px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    font-size: 15px;
}

.plans-page .plan ul li .yes {
    color: var(--green-color);
}

.plans-page .plan ul li i:not(.yes, .help) {
    color: var(--red-color);
}

.plans-page .plan ul li i:first-child {
    font-size: 18px;
    margin-right: 5px;
}

.plans-page .plan ul li .help {
    color: var(--grey-color);
    margin-left: auto;
    cursor: pointer;
}

.plans-page .plan a {
    margin: auto;
}

/*End plans page*/