/*Start plans page*/
.plans-page {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

@media (max-width:767px) {
    .plans-page {
        grid-template-columns: minmax(250px, 1fr);
        gap: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

.plans-page .plan .top {
    border: 3px solid white;
    outline: 3px solid var(--blue-color);
}

.plans-page .plan.green .top {
    outline-color: var(--green-color);
}

.plans-page .plan.orange .top {
    outline-color: var(--orange-color);
}

.plans-page .plan .price {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
}

.plans-page .plan .price span {
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 25px;
}

.plans-page .plan ul li {
    padding: 15px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    font-size: 15px;
}

.plans-page .plan ul li .yes {
    color: var(--green-color);
}

.plans-page .plan ul li i:not(.yes, .help) {
    color: var(--red-color);
}

.plans-page .plan ul li i:first-child {
    font-size: 18px;
    margin-right: 5px;
}

.plans-page .plan ul li .help {
    color: var(--grey-color);
    margin-left: auto;
    cursor: pointer;
}

.plans-page .plan a {
    margin: auto;
}

/*End plans page*/